<doctype html>
<head>
<title>Python Flask File Upload Example</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="styles.css" rel="stylesheet">

<style>
.button {
	background-color: black;
	border-color: white;
	border-radius: 50px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
</style>
</head>
<body>
	<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-topleft w3-padding-large w3-xlarge">
  </div>
  <div class="w3-display-middle">
    <h1 class="w3-jumbo w3-animate-top">SUMMAZURE</h1>
    <hr class="w3-border-grey" style="margin-top:auto;width:100%">
		<p style="text-align:center;">
			{% with messages = get_flashed_messages() %}
			  {% if messages %}
				<ul class=flashes style="text-align:center;">
				{% for message in messages %}
				  <p>{{ message }}</p>
				{% endfor %}
				</ul>
			  {% endif %}
			{% endwith %}
		</p>
		<form method="post" action="/" enctype="multipart/form-data" style="text-align:center;">
		    <dl>
				<p>
					<label class="btn custom-input-btn" id="test">
					<input type="file" name="file" style="display:none" multiple="true" autocomplete="off" required>        
					<i class="fa fa-cloud-upload"></i> Upload Files
					</label>
				</p>
		    </dl>
		    <p>
				<input type="submit" class="button" value="Submit">
			</p>
		</form>
	</div>
    
  </div>
</div>
</body>